#not
{
	font-size: 40px;
}
#sweet_potato
{
	width: 666px;
	height: 500px;
}
#spwords
{
	font-size: 23px;
	font-weight: bold;
	color: #AA22DD;
}
#goodwords
{
	font-family: Arial;
	font-size: 30px;
}
#number
{
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 70px;
	color: #DDBB33;
}